# Preprocessing

Nous allons travailler avec 4 talbes pour le feature engineering, ceci pourrait etre etendu aux autres tables

**Chargement de 4 tables**
- batiment_groupe_synthese_propriete_usage.csv
- batiment_groupe_dpe_statistique_logement.csv
- batiment_groupe.csv
- batiment_groupe_ffo_bat.csv

In [1]:
import pandas as pd
import os

In [2]:
root = "/var/tmp/csv_sample"

batiment_groupe_synthese_propriete_usage_path = 'batiment_groupe_synthese_propriete_usage.csv'
batiment_groupe_dpe_statistique_logement_path = 'batiment_groupe_dpe_statistique_logement.csv'
batiment_groupe_path = 'batiment_groupe.csv'
batiment_groupe_ffo_bat_path = 'batiment_groupe_ffo_bat.csv'

In [3]:
batiment_groupe_synthese_propriete_usage = pd.read_csv(os.path.join(root, batiment_groupe_synthese_propriete_usage_path))
batiment_groupe_dpe_statistique_logement = pd.read_csv(os.path.join(root, batiment_groupe_dpe_statistique_logement_path))
batiment_groupe = pd.read_csv(os.path.join(root, batiment_groupe_path))
batiment_groupe_ffo_bat= pd.read_csv(os.path.join(root, batiment_groupe_ffo_bat_path))

/tmp/ipykernel_222165/1346828054.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  batiment_groupe_dpe_statistique_logement = pd.read_csv(os.path.join(root, batiment_groupe_dpe_statistique_logement_path))
/tmp/ipykernel_222165/1346828054.py:3: DtypeWarning: Columns (2,4,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  batiment_groupe = pd.read_csv(os.path.join(root, batiment_groupe_path))


- la colonne batiment_groupe_id constituera notre cles, c'est elle qui permet d'identifier un batiment de maniere unique
- Regardons les colonnes communes dans les tables, pour ne les garder que dans une seule table

**1. batiment_groupe_synthese_propriete_usage.csv**

In [4]:
batiment_groupe_synthese_propriete_usage

,batiment_groupe_id,code_departement_insee,usage_principal_bdnb_open
0,bdnb-bg-13KF-4VKU-TUU3,14,Indifférencié
1,bdnb-bg-13QD-P14U-4QRS,64,Résidentiel individuel
2,bdnb-bg-11P7-YDK4-CU5Q,13,Résidentiel individuel
3,bdnb-bg-13LJ-RH5M-ZK6T,45,Résidentiel individuel
4,bdnb-bg-145M-ZH34-SA64,21,Résidentiel individuel
...,...,...,...
3220709,bdnb-bg-ZZUH-NWJD-4WKG,40,Indifférencié
3220710,bdnb-bg-ZZSH-MUDU-8J5W,33,Indifférencié
3220711,bdnb-bg-ZZY1-98RJ-BU21,49,Résidentiel individuel
3220712,bdnb-bg-ZZXL-FPV2-KNLL,67,Indifférencié
3220713,bdnb-bg-ZZYB-NV3E-CWD5,50,Résidentiel individuel

Pas de transformation importante à faire (Pour l'instant)

**2. batiment_groupe_dpe_statistique_logement.csv**

In [5]:
batiment_groupe_dpe_statistique_logement

,batiment_groupe_id,code_departement_insee,nb_classe_bilan_dpe_a,nb_classe_bilan_dpe_b,nb_classe_bilan_dpe_c,nb_classe_bilan_dpe_d,nb_classe_bilan_dpe_e,nb_classe_bilan_dpe_f,nb_classe_bilan_dpe_g,nb_classe_conso_energie_arrete_2012_a,nb_classe_conso_energie_arrete_2012_b,nb_classe_conso_energie_arrete_2012_c,nb_classe_conso_energie_arrete_2012_d,nb_classe_conso_energie_arrete_2012_e,nb_classe_conso_energie_arrete_2012_f,nb_classe_conso_energie_arrete_2012_g,nb_classe_conso_energie_arrete_2012_nc
0,bdnb-bg-RECC-EQ8T-T4RS,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,bdnb-bg-WRGK-6WJH-WQPE,2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2,bdnb-bg-L6HW-NQTV-198C,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4
3,bdnb-bg-SXRS-BDEV-UA6Q,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,bdnb-bg-HKUJ-G2D3-26SA,2,0,0,0,2,5,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502451,bdnb-bg-4WLQ-VCF6-ZKSA,95,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
502452,bdnb-bg-ZKTS-8UKS-HTTW,95,0,0,1,3,0,0,0,0,0,0,0,0,0,0,0
502453,bdnb-bg-KNL5-6NR8-4691,95,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
502454,bdnb-bg-ANUF-SCQD-6MKK,95,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
502455,bdnb-bg-SESJ-8D5B-LL5N,95,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [6]:
batiment_groupe_dpe_statistique_logement.dtypes

batiment_groupe_id                        object
code_departement_insee                    object
nb_classe_bilan_dpe_a                      int64
nb_classe_bilan_dpe_b                      int64
nb_classe_bilan_dpe_c                      int64
nb_classe_bilan_dpe_d                      int64
nb_classe_bilan_dpe_e                      int64
nb_classe_bilan_dpe_f                      int64
nb_classe_bilan_dpe_g                      int64
nb_classe_conso_energie_arrete_2012_a      int64
nb_classe_conso_energie_arrete_2012_b      int64
nb_classe_conso_energie_arrete_2012_c      int64
nb_classe_conso_energie_arrete_2012_d      int64
nb_classe_conso_energie_arrete_2012_e      int64
nb_classe_conso_energie_arrete_2012_f      int64
nb_classe_conso_energie_arrete_2012_g      int64
nb_classe_conso_energie_arrete_2012_nc     int64
dtype: object

In [7]:
classe_dpe = {
    
    'nb_classe_bilan_dpe_a': 'Classe A pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_b': 'Classe B pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_c': 'Classe C pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_d': 'Classe D pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_e': 'Classe E pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_f': 'Classe F (passoire thermique) pour le diagnostic de performance énergétique (DPE)',
    'nb_classe_bilan_dpe_g': 'Classe G (passoire thermique) pour le diagnostic de performance énergétique (DPE)',

    
    'nb_classe_conso_energie_arrete_2012_a': "Classe A selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_b': "Classe B selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_c': "Classe C selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_d': "Classe D selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_e': "Classe E selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_f': "Classe F (passoire thermique) selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_g': "Classe G (passoire thermique) selon la méthode de l'arrêté du 8 février 2012",
    'nb_classe_conso_energie_arrete_2012_nc': " Pas de Classe attribuée selon la méthode de l'arrêté du 8 février 2012"

}

In [8]:
def transform_class_dpe_v1(df):
    """function qui transforme les batiments en text pour leurs classes dpe"""
    
    liste_classe = df[df>0].index.to_list()
    valeurs = [classe_dpe[cle] for cle in liste_classe]

    return ','.join(valeurs)

In [9]:
def transform_class_dpe_v2(row):
    """function qui transforme les batiments en text pour leurs classes dpe"""
    res = [classe_dpe[col] for col, val in row.items() if val > 0]
    return ','.join(res)

In [10]:
df_btId_dpt = batiment_groupe_dpe_statistique_logement[['batiment_groupe_id']]
df_classe = batiment_groupe_dpe_statistique_logement.drop(['batiment_groupe_id','code_departement_insee'], axis=1)

In [11]:
df_btId_dpt['classe dpe (diagnostique de performance energetique)'] = df_classe.apply(transform_class_dpe_v1, axis=1)

/tmp/ipykernel_222165/2092137334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_btId_dpt['classe dpe (diagnostique de performance energetique)'] = df_classe.apply(transform_class_dpe_v1, axis=1)

In [12]:
df_btId_dpt['classe dpe (diagnostique de performance energetique)'] = df_classe.apply(transform_class_dpe_v2, axis=1)

/tmp/ipykernel_222165/1415713771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_btId_dpt['classe dpe (diagnostique de performance energetique)'] = df_classe.apply(transform_class_dpe_v2, axis=1)

In [13]:
df_btId_dpt

,batiment_groupe_id,classe dpe (diagnostique de performance energetique)
0,bdnb-bg-RECC-EQ8T-T4RS,Classe D selon la méthode de l'arrêté du 8 fév...
1,bdnb-bg-WRGK-6WJH-WQPE,Classe D selon la méthode de l'arrêté du 8 fév...
2,bdnb-bg-L6HW-NQTV-198C,Pas de Classe attribuée selon la méthode de l...
3,bdnb-bg-SXRS-BDEV-UA6Q,Pas de Classe attribuée selon la méthode de l...
4,bdnb-bg-HKUJ-G2D3-26SA,Classe D pour le diagnostic de performance éne...
...,...,...
502451,bdnb-bg-4WLQ-VCF6-ZKSA,Classe G (passoire thermique) pour le diagnost...
502452,bdnb-bg-ZKTS-8UKS-HTTW,Classe C pour le diagnostic de performance éne...
502453,bdnb-bg-KNL5-6NR8-4691,Classe D pour le diagnostic de performance éne...
502454,bdnb-bg-ANUF-SCQD-6MKK,Classe G (passoire thermique) pour le diagnost...
502455,bdnb-bg-SESJ-8D5B-LL5N,Classe G (passoire thermique) pour le diagnost...

**3. batiment_groupe.csv**

In [14]:
batiment_groupe

,geom_groupe,batiment_groupe_id,code_departement_insee,s_geom_groupe,code_iris,code_commune_insee,libelle_commune_insee,code_epci_insee,contient_fictive_geom_groupe
0,"MULTIPOLYGON (((915265.6 6542176.4,915264.7 65...",bdnb-bg-3C4Z-5PH1-CZ93,1,189,11180000,1118,Corbonod,200070852,0
1,"MULTIPOLYGON (((886417.6 6572006.0,886429.3 65...",bdnb-bg-H4HZ-VZXB-UDY9,1,224,14080000,1408,Simandre-sur-Suran,200071751,0
2,"MULTIPOLYGON (((925782.5 6571691.3,925783.3 65...",bdnb-bg-W1TF-T1U9-PRWH,1,43,12880000,1288,Péron,240100750,0
3,"MULTIPOLYGON (((896891.8 6543850.4,896887.4 65...",bdnb-bg-6DTT-TK9A-H491,1,53,11850000,1185,Plateau d'Hauteville,200042935,0
4,"MULTIPOLYGON (((938083.3 6582370.4,938088.5 65...",bdnb-bg-QT1Q-D579-J2UQ,1,45,14350000,1435,Versonnex,240100750,0
...,...,...,...,...,...,...,...,...,...
3220709,"MULTIPOLYGON (((642119.6 6883837.4,642113.6 68...",bdnb-bg-GMV9-VJBB-69VW,95,140,952560000,95256,Frépillon,200058485,0
3220710,MULTIPOLYGON (((628787.495673384 6884110.20496...,bdnb-bg-ACQE-BG3K-Z8V9,95,55,951270122,95127,Cergy,249500109,0
3220711,"MULTIPOLYGON (((636705.8 6877503.3,636704.2 68...",bdnb-bg-TSXW-JDSV-UTPA,95,124,953060108,95306,Herblay-sur-Seine,200058485,0
3220712,"MULTIPOLYGON (((659899.8 6882607.9,659893.4 68...",bdnb-bg-SJ12-XKMQ-Z3HQ,95,1194,952410000,95241,Fontenay-en-Parisis,200055655,0
3220713,MULTIPOLYGON (((645406.824787309 6880003.78594...,bdnb-bg-US3Y-273V-UVJ6,95,24,955630102,95563,Saint-Leu-la-Forêt,200058485,1

- La colonne geom_groupe contient des coordonnees géométrique mutlipolygonale, pour l'instant ces donnees ne nous sont pas très utiles 
- La colonne c=contient_fictive_geom_groupe indique si la géométrie a été générée, donc la surface au sol le sera aussi

In [15]:
batiment_groupe_drop_axis = batiment_groupe.drop(['geom_groupe','code_departement_insee','code_iris','code_epci_insee'],axis=1)
batiment_groupe_drop_axis

,batiment_groupe_id,s_geom_groupe,code_commune_insee,libelle_commune_insee,contient_fictive_geom_groupe
0,bdnb-bg-3C4Z-5PH1-CZ93,189,1118,Corbonod,0
1,bdnb-bg-H4HZ-VZXB-UDY9,224,1408,Simandre-sur-Suran,0
2,bdnb-bg-W1TF-T1U9-PRWH,43,1288,Péron,0
3,bdnb-bg-6DTT-TK9A-H491,53,1185,Plateau d'Hauteville,0
4,bdnb-bg-QT1Q-D579-J2UQ,45,1435,Versonnex,0
...,...,...,...,...,...
3220709,bdnb-bg-GMV9-VJBB-69VW,140,95256,Frépillon,0
3220710,bdnb-bg-ACQE-BG3K-Z8V9,55,95127,Cergy,0
3220711,bdnb-bg-TSXW-JDSV-UTPA,124,95306,Herblay-sur-Seine,0
3220712,bdnb-bg-SJ12-XKMQ-Z3HQ,1194,95241,Fontenay-en-Parisis,0
3220713,bdnb-bg-US3Y-273V-UVJ6,24,95563,Saint-Leu-la-Forêt,1

**4. batiment_groupe_ffo_bat**

In [16]:
batiment_groupe_ffo_bat

,batiment_groupe_id,code_departement_insee,nb_niveau,annee_construction,usage_niveau_1_txt,mat_mur_txt,mat_toit_txt,nb_log
0,bdnb-bg-14TH-5U7R-3LF8,59,1,NaN,Dépendance,INDETERMINE,INDETERMINE,0
1,bdnb-bg-151S-NJQJ-7LXR,59,2,1907.0,Résidentiel individuel,BRIQUES,TUILES,1
2,bdnb-bg-11ZV-BYZP-XQKV,59,3,1906.0,Résidentiel individuel,BRIQUES,TUILES,1
3,bdnb-bg-14V2-1ZN2-1A3K,06,2,1965.0,Résidentiel individuel,AGGLOMERE,TUILES,1
4,bdnb-bg-15NF-73FS-TFS9,38,4,2005.0,Résidentiel collectif,INDETERMINE,INDETERMINE,11
...,...,...,...,...,...,...,...,...
2174105,bdnb-bg-ZY47-PRNE-TG91,49,2,1974.0,Résidentiel individuel,AGGLOMERE - BETON,ARDOISES,1
2174106,bdnb-bg-ZYP4-ASAL-FVH8,59,2,1973.0,Résidentiel individuel,BRIQUES,TUILES,1
2174107,bdnb-bg-ZYEM-GUDW-MY8N,57,2,1750.0,Résidentiel individuel,PIERRE,TUILES,1
2174108,bdnb-bg-ZYLE-R6G6-E7FD,67,4,1913.0,Résidentiel collectif,INDETERMINE,INDETERMINE,2
2174109,bdnb-bg-ZY6S-G75G-Z675,90,4,1918.0,Résidentiel collectif,MEULIERE,TUILES,5

In [17]:
batiment_groupe_ffo_bat.isna().sum()

batiment_groupe_id            0
code_departement_insee        0
nb_niveau                     0
annee_construction        95133
usage_niveau_1_txt            0
mat_mur_txt                   0
mat_toit_txt                  0
nb_log                        0
dtype: int64

In [18]:
batiment_groupe_ffo_bat = batiment_groupe_ffo_bat.dropna()
batiment_groupe_ffo_bat

,batiment_groupe_id,code_departement_insee,nb_niveau,annee_construction,usage_niveau_1_txt,mat_mur_txt,mat_toit_txt,nb_log
1,bdnb-bg-151S-NJQJ-7LXR,59,2,1907.0,Résidentiel individuel,BRIQUES,TUILES,1
2,bdnb-bg-11ZV-BYZP-XQKV,59,3,1906.0,Résidentiel individuel,BRIQUES,TUILES,1
3,bdnb-bg-14V2-1ZN2-1A3K,06,2,1965.0,Résidentiel individuel,AGGLOMERE,TUILES,1
4,bdnb-bg-15NF-73FS-TFS9,38,4,2005.0,Résidentiel collectif,INDETERMINE,INDETERMINE,11
5,bdnb-bg-14UM-VLC1-F7U3,60,2,1900.0,Résidentiel individuel,BRIQUES - MEULIERE,ARDOISES,1
...,...,...,...,...,...,...,...,...
2174105,bdnb-bg-ZY47-PRNE-TG91,49,2,1974.0,Résidentiel individuel,AGGLOMERE - BETON,ARDOISES,1
2174106,bdnb-bg-ZYP4-ASAL-FVH8,59,2,1973.0,Résidentiel individuel,BRIQUES,TUILES,1
2174107,bdnb-bg-ZYEM-GUDW-MY8N,57,2,1750.0,Résidentiel individuel,PIERRE,TUILES,1
2174108,bdnb-bg-ZYLE-R6G6-E7FD,67,4,1913.0,Résidentiel collectif,INDETERMINE,INDETERMINE,2
2174109,bdnb-bg-ZY6S-G75G-Z675,90,4,1918.0,Résidentiel collectif,MEULIERE,TUILES,5

In [19]:
batiment_groupe_ffo_bat_drop_axis = batiment_groupe_ffo_bat.drop(['code_departement_insee', 'usage_niveau_1_txt'], axis=1)
batiment_groupe_ffo_bat_drop_axis

,batiment_groupe_id,nb_niveau,annee_construction,mat_mur_txt,mat_toit_txt,nb_log
1,bdnb-bg-151S-NJQJ-7LXR,2,1907.0,BRIQUES,TUILES,1
2,bdnb-bg-11ZV-BYZP-XQKV,3,1906.0,BRIQUES,TUILES,1
3,bdnb-bg-14V2-1ZN2-1A3K,2,1965.0,AGGLOMERE,TUILES,1
4,bdnb-bg-15NF-73FS-TFS9,4,2005.0,INDETERMINE,INDETERMINE,11
5,bdnb-bg-14UM-VLC1-F7U3,2,1900.0,BRIQUES - MEULIERE,ARDOISES,1
...,...,...,...,...,...,...
2174105,bdnb-bg-ZY47-PRNE-TG91,2,1974.0,AGGLOMERE - BETON,ARDOISES,1
2174106,bdnb-bg-ZYP4-ASAL-FVH8,2,1973.0,BRIQUES,TUILES,1
2174107,bdnb-bg-ZYEM-GUDW-MY8N,2,1750.0,PIERRE,TUILES,1
2174108,bdnb-bg-ZYLE-R6G6-E7FD,4,1913.0,INDETERMINE,INDETERMINE,2
2174109,bdnb-bg-ZY6S-G75G-Z675,4,1918.0,MEULIERE,TUILES,5

nb. la colonne usage_niveau_1_txt on la retrouve deja dans la table batiment_groupe

**Merge tous les quatres fichiers**

In [20]:
df_merged = batiment_groupe_synthese_propriete_usage\
    .merge(df_btId_dpt, on='batiment_groupe_id', how='inner')\
    .merge(batiment_groupe_drop_axis, on='batiment_groupe_id', how='inner')\
    .merge(batiment_groupe_ffo_bat_drop_axis, on='batiment_groupe_id', how='inner')

In [21]:
df_merged

,batiment_groupe_id,code_departement_insee,usage_principal_bdnb_open,classe dpe (diagnostique de performance energetique),s_geom_groupe,code_commune_insee,libelle_commune_insee,contient_fictive_geom_groupe,nb_niveau,annee_construction,mat_mur_txt,mat_toit_txt,nb_log
0,bdnb-bg-11YH-K3V5-A38W,40,Résidentiel individuel,Classe A selon la méthode de l'arrêté du 8 fév...,98,40281,Saint-Pierre-du-Mont,0,1,1920.0,BRIQUES,TUILES,1
1,bdnb-bg-13T4-NPNA-KDXM,59,Résidentiel individuel,Classe F (passoire thermique) selon la méthode...,59,59599,Tourcoing,0,2,1958.0,BRIQUES,TUILES - AUTRES,1
2,bdnb-bg-11NZ-677R-XQ2E,56,Résidentiel collectif,Classe D pour le diagnostic de performance éne...,122,56243,Séné,0,2,1981.0,PIERRE,ARDOISES,2
3,bdnb-bg-16X7-7H4S-U1VZ,83,Résidentiel individuel,Classe D pour le diagnostic de performance éne...,38,83146,La Verdière,0,5,1800.0,PIERRE,TUILES,1
4,bdnb-bg-15DD-C9CL-DPV9,63,Résidentiel individuel,Classe A selon la méthode de l'arrêté du 8 fév...,200,63103,Châtel-Guyon,0,2,1850.0,PIERRE,TUILES,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,bdnb-bg-ZLPC-BWHX-CL57,92,Résidentiel individuel,Classe D pour le diagnostic de performance éne...,102,92073,Suresnes,0,2,2006.0,BETON,ZINC ALUMINIUM,1
474,bdnb-bg-ZR9B-D3D9-8K6N,76,Résidentiel individuel,Classe E selon la méthode de l'arrêté du 8 fév...,150,76421,Mélamare,0,2,1982.0,BOIS - PIERRE,ARDOISES,1
475,bdnb-bg-ZRR9-HZM7-JPQK,62,Résidentiel individuel,Classe C pour le diagnostic de performance éne...,104,62757,Saint-Martin-lez-Tatinghem,0,2,1960.0,BRIQUES,TUILES,1
476,bdnb-bg-ZWQN-CEQ7-DCNT,91,Résidentiel individuel,Classe E selon la méthode de l'arrêté du 8 fév...,117,91272,Gif-sur-Yvette,0,2,1995.0,AGGLOMERE,TUILES,1
477,bdnb-bg-ZWE9-FU4X-7EPZ,49,Résidentiel individuel,Classe E pour le diagnostic de performance éne...,191,49328,Saumur,0,3,1860.0,PIERRE,ARDOISES,2

- On fait un inner join ici pour conserver que les colonnes dont on dispose de toutes les infos, d'autres approche peuvent etre envisage pour eviter de perdre toutes les informations conservant les autres colonnes
- On fera aussi un left join pour voir si on arrive a apporte plus d'infos (Plus tard)

On va essayer de construire les phrases du style:

Le batiment **batiment_groupe_id** de type **usage_principal_bdnb_open**, construite en **annee_construction** se trouve dans le departement **code_departement_insee**, dans commune  **libelle_commune_insee** dont le code postal **code_commune_insee** , il possede  une  surface de **s_geom_groupe**, **nb_niveau** étage avec **nb_log**, des murs en **mat_mur_txt**, un toit en **mat_toit_txt**, est **classe dpe (diagnostique de performance energetique)**.

L'infos concertnant les coordonnees fictive (contient_fictive_geom_groupe) ou pas est laisse pour l'instant

In [22]:
def generer_description_batiment(row):
    return (
        f"Le bâtiment {row['batiment_groupe_id']} de type {row['usage_principal_bdnb_open']}, "
        f"construit en {row['annee_construction']}, se trouve dans le département {row['code_departement_insee']}, "
        f"dans la commune {row['libelle_commune_insee']} (code postal {row['code_commune_insee']}), "
        f"il possède une surface de {row['s_geom_groupe']} m², {row['nb_niveau']} étage(s) avec {row['nb_log']} logement(s), "
        f"des murs en {row['mat_mur_txt']}, un toit en {row['mat_toit_txt']}, "
        f"et est classé {row['classe dpe (diagnostique de performance energetique)']} au diagnostic de performance énergétique."
    )

In [23]:
batiment_description_dataset = pd.DataFrame({'Description_btm':df_merged.apply(generer_description_batiment,axis=1) })
batiment_description_dataset

                                       Description_btm
0    Le bâtiment bdnb-bg-11YH-K3V5-A38W de type Rés...
1    Le bâtiment bdnb-bg-13T4-NPNA-KDXM de type Rés...
2    Le bâtiment bdnb-bg-11NZ-677R-XQ2E de type Rés...
3    Le bâtiment bdnb-bg-16X7-7H4S-U1VZ de type Rés...
4    Le bâtiment bdnb-bg-15DD-C9CL-DPV9 de type Rés...
..                                                 ...
473  Le bâtiment bdnb-bg-ZLPC-BWHX-CL57 de type Rés...
474  Le bâtiment bdnb-bg-ZR9B-D3D9-8K6N de type Rés...
475  Le bâtiment bdnb-bg-ZRR9-HZM7-JPQK de type Rés...
476  Le bâtiment bdnb-bg-ZWQN-CEQ7-DCNT de type Rés...
477  Le bâtiment bdnb-bg-ZWE9-FU4X-7EPZ de type Rés...

[478 rows x 1 columns]

In [24]:
batiment_description_dataset.iloc[0]['Description_btm']

"Le bâtiment bdnb-bg-11YH-K3V5-A38W de type Résidentiel individuel, construit en 1920.0, se trouve dans le département 40, dans la commune Saint-Pierre-du-Mont (code postal 40281), il possède une surface de 98 m², 1 étage(s) avec 1 logement(s), des murs en BRIQUES, un toit en TUILES, et est classé Classe A selon la méthode de l'arrêté du 8 février 2012, Pas de Classe attribuée selon la méthode de l'arrêté du 8 février 2012 au diagnostic de performance énergétique."

###  **Insertion des stats (Pour ameloirer les performance de notre RAG sur des questions stats)**

On va grouper les donnees par:

- Niveau global (France entière)
- Par région (departement)
- Par commune
- Par type de bâtiment
- Par période de construction
- Par classe DPE
- Croisement région x type de bâtiment
- Croisement département x classe DPE


Aussi possible de faire les stats suivantes:

- mean 
- median
- count
- min
- max
- prix au metre carre,
- consommation enegeituqe au metre carre
- annee mpyenne de renovation
- etc

Toutes les stats ne sont modelisees (caclulees), et pourron etre faites plus tard.

In [25]:
df_merged

,batiment_groupe_id,code_departement_insee,usage_principal_bdnb_open,classe dpe (diagnostique de performance energetique),s_geom_groupe,code_commune_insee,libelle_commune_insee,contient_fictive_geom_groupe,nb_niveau,annee_construction,mat_mur_txt,mat_toit_txt,nb_log
0,bdnb-bg-11YH-K3V5-A38W,40,Résidentiel individuel,Classe A selon la méthode de l'arrêté du 8 fév...,98,40281,Saint-Pierre-du-Mont,0,1,1920.0,BRIQUES,TUILES,1
1,bdnb-bg-13T4-NPNA-KDXM,59,Résidentiel individuel,Classe F (passoire thermique) selon la méthode...,59,59599,Tourcoing,0,2,1958.0,BRIQUES,TUILES - AUTRES,1
2,bdnb-bg-11NZ-677R-XQ2E,56,Résidentiel collectif,Classe D pour le diagnostic de performance éne...,122,56243,Séné,0,2,1981.0,PIERRE,ARDOISES,2
3,bdnb-bg-16X7-7H4S-U1VZ,83,Résidentiel individuel,Classe D pour le diagnostic de performance éne...,38,83146,La Verdière,0,5,1800.0,PIERRE,TUILES,1
4,bdnb-bg-15DD-C9CL-DPV9,63,Résidentiel individuel,Classe A selon la méthode de l'arrêté du 8 fév...,200,63103,Châtel-Guyon,0,2,1850.0,PIERRE,TUILES,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,bdnb-bg-ZLPC-BWHX-CL57,92,Résidentiel individuel,Classe D pour le diagnostic de performance éne...,102,92073,Suresnes,0,2,2006.0,BETON,ZINC ALUMINIUM,1
474,bdnb-bg-ZR9B-D3D9-8K6N,76,Résidentiel individuel,Classe E selon la méthode de l'arrêté du 8 fév...,150,76421,Mélamare,0,2,1982.0,BOIS - PIERRE,ARDOISES,1
475,bdnb-bg-ZRR9-HZM7-JPQK,62,Résidentiel individuel,Classe C pour le diagnostic de performance éne...,104,62757,Saint-Martin-lez-Tatinghem,0,2,1960.0,BRIQUES,TUILES,1
476,bdnb-bg-ZWQN-CEQ7-DCNT,91,Résidentiel individuel,Classe E selon la méthode de l'arrêté du 8 fév...,117,91272,Gif-sur-Yvette,0,2,1995.0,AGGLOMERE,TUILES,1
477,bdnb-bg-ZWE9-FU4X-7EPZ,49,Résidentiel individuel,Classe E pour le diagnostic de performance éne...,191,49328,Saumur,0,3,1860.0,PIERRE,ARDOISES,2

In [26]:
df_merged.dtypes

batiment_groupe_id                                       object
code_departement_insee                                   object
usage_principal_bdnb_open                                object
classe dpe (diagnostique de performance energetique)     object
s_geom_groupe                                             int64
code_commune_insee                                       object
libelle_commune_insee                                    object
contient_fictive_geom_groupe                              int64
nb_niveau                                                 int64
annee_construction                                      float64
mat_mur_txt                                              object
mat_toit_txt                                             object
nb_log                                                    int64
dtype: object

**stats region et commune**

In [ ]:
#stats region et commune

def calculate_comprehensive_stats_region_commune(df, group_columns):
    """ calcul les stats groupees pour differentes colonnes numerique (region, commune)"""


    df = df.copy()        
    df['classe_dpe_simple'] = df['classe dpe (diagnostique de performance energetique)'].str.extract(r'Classe ([A-G])')
    df['est_passoire_thermique'] = df['classe_dpe_simple'].isin(['F', 'G'])

    
    agg_dict = {
        # Statistiques descriptives de base
        'nb_niveau': ['mean', 'median', 'min', 'max'],
        'annee_construction': ['mean', 'median', 'min', 'max'],
        'nb_log': ['mean', 'median', 'sum', 'min', 'max'],
        'est_passoire_thermique': 'mean',  
        
        # Distributions pour les variables catégorielles
        'usage_principal_bdnb_open': lambda x: x.value_counts().to_dict(),
        'classe_dpe_simple': lambda x: x.value_counts().to_dict(),
        'mat_mur_txt': lambda x: x.value_counts().to_dict(),
        'mat_toit_txt': lambda x: x.value_counts().to_dict()
    }

    stats = df.groupby(group_columns).agg(agg_dict).reset_index()
    
    stats.columns = ['_'.join(col).strip('_') if isinstance(col, tuple) else col for col in stats.columns.values]

    count_df = df.groupby(group_columns).size().reset_index(name='nb_count')
    stats = stats.merge(count_df, on=group_columns)
    
    return stats

In [28]:
stats_by_commune  = calculate_comprehensive_stats_region_commune(df_merged, ['code_commune_insee'])
stats_by_commune

,code_commune_insee,nb_niveau_mean,nb_niveau_median,nb_niveau_min,nb_niveau_max,annee_construction_mean,annee_construction_median,annee_construction_min,annee_construction_max,nb_log_mean,nb_log_median,nb_log_sum,nb_log_min,nb_log_max,est_passoire_thermique_mean,usage_principal_bdnb_open_<lambda>,classe_dpe_simple_<lambda>,mat_mur_txt_<lambda>,mat_toit_txt_<lambda>,nb_count
0,1004,2.000000,2.0,2,2,1937.000000,1937.0,1937.0,1937.0,1.000000,1.0,1,1,1,1.000000,{'Résidentiel individuel': 1},{'F': 1},{'BETON': 1},{'TUILES': 1},1
1,1025,1.000000,1.0,1,1,1979.000000,1979.0,1979.0,1979.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'D': 1},{'INDETERMINE': 1},{'INDETERMINE': 1},1
2,1053,2.000000,2.0,2,2,1962.000000,1962.0,1962.0,1962.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'C': 1},{'MEULIERE': 1},{'TUILES': 1},1
3,1138,2.000000,2.0,2,2,1958.000000,1958.0,1958.0,1958.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'D': 1},{'PIERRE': 1},{'TUILES': 1},1
4,1139,2.000000,2.0,2,2,1750.000000,1750.0,1750.0,1750.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'C': 1},{'BOIS - BRIQUES': 1},{'TUILES': 1},1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,30011,2.000000,2.0,2,2,1972.000000,1972.0,1972.0,1972.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'C': 1},{'AGGLOMERE': 1},{'TUILES': 1},1
433,30060,1.000000,1.0,1,1,1963.000000,1963.0,1963.0,1963.0,1.000000,1.0,1,1,1,0.000000,{'Résidentiel individuel': 1},{'E': 1},{'AGGLOMERE': 1},{'TUILES': 1},1
434,30189,2.666667,3.0,1,4,1894.666667,1865.0,1800.0,2019.0,3.666667,5.0,11,1,5,0.333333,"{'Résidentiel collectif': 2, 'Résidentiel indi...","{'B': 1, 'F': 1}","{'BRIQUES - PIERRE': 1, 'PIERRE': 1, 'BOIS': 1}","{'TUILES': 2, 'AUTRES': 1}",3
435,30312,1.000000,1.0,1,1,1930.000000,1930.0,1930.0,1930.0,2.000000,2.0,2,2,2,0.000000,{'Résidentiel individuel': 1},{'B': 1},{'PIERRE': 1},{'TUILES': 1},1
436,30334,2.000000,2.0,2,2,2005.000000,2005.0,2005.0,2005.0,3.000000,3.0,3,3,3,0.000000,{'Résidentiel individuel': 1},{'C': 1},{'BETON': 1},{'TUILES': 1},1

In [29]:
stats_by_departement = calculate_comprehensive_stats_region_commune(df_merged, ['code_departement_insee'])
stats_by_departement

,code_departement_insee,nb_niveau_mean,nb_niveau_median,nb_niveau_min,nb_niveau_max,annee_construction_mean,annee_construction_median,annee_construction_min,annee_construction_max,nb_log_mean,nb_log_median,nb_log_sum,nb_log_min,nb_log_max,est_passoire_thermique_mean,usage_principal_bdnb_open_<lambda>,classe_dpe_simple_<lambda>,mat_mur_txt_<lambda>,mat_toit_txt_<lambda>,nb_count
0,01,1.888889,2.0,1,3,1930.888889,1957.0,1750.0,2012.0,1.666667,1.0,15,1,4,0.222222,"{'Résidentiel individuel': 8, 'Résidentiel col...","{'D': 4, 'C': 3, 'G': 1, 'F': 1}","{'BETON': 3, 'INDETERMINE': 1, 'MEULIERE': 1, ...","{'TUILES': 8, 'INDETERMINE': 1}",9
1,02,2.000000,2.0,2,2,1878.400000,1900.0,1780.0,1922.0,1.200000,1.0,6,1,2,0.000000,{'Résidentiel individuel': 5},"{'C': 1, 'E': 1}","{'BRIQUES': 2, 'PIERRE': 1, 'AGGLOMERE - BRIQU...","{'ARDOISES': 3, 'AUTRES': 1, 'TUILES': 1}",5
2,03,1.500000,1.5,1,2,1935.666667,1937.5,1850.0,2015.0,1.166667,1.0,7,1,2,0.166667,{'Résidentiel individuel': 6},"{'D': 3, 'E': 1, 'F': 1}","{'PIERRE': 1, 'AUTRES': 1, 'MEULIERE': 1, 'BRI...",{'TUILES': 6},6
3,04,1.666667,2.0,1,2,2006.666667,2006.0,2000.0,2014.0,10.000000,1.0,30,1,28,0.000000,{'Résidentiel individuel': 3},"{'D': 1, 'E': 1, 'C': 1}","{'MEULIERE': 1, 'AGGLOMERE': 1, 'BOIS - BRIQUE...",{'TUILES': 3},3
4,05,1.000000,1.0,1,1,1932.000000,1932.0,1932.0,1932.0,1.000000,1.0,1,1,1,1.000000,{'Résidentiel individuel': 1},{'F': 1},{'BRIQUES': 1},{'TUILES': 1},1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,91,2.000000,2.0,2,2,2007.000000,2007.0,1995.0,2019.0,1.000000,1.0,2,1,1,0.000000,{'Résidentiel individuel': 2},{'E': 2},"{'BETON': 1, 'AGGLOMERE': 1}",{'TUILES': 2},2
88,92,2.833333,2.5,2,4,1976.000000,1985.0,1900.0,2014.0,3.666667,2.5,22,1,10,0.166667,"{'Résidentiel collectif': 4, 'Résidentiel indi...","{'C': 2, 'D': 2, 'E': 1, 'G': 1}","{'BETON': 3, 'INDETERMINE': 1, 'BRIQUES - MEUL...","{'TUILES': 2, 'ARDOISES': 1, 'INDETERMINE': 1,...",6
89,93,4.285714,3.0,2,10,1967.714286,1972.0,1900.0,2021.0,25.857143,6.0,181,1,88,0.142857,"{'Résidentiel collectif': 5, 'Résidentiel indi...","{'C': 3, 'D': 2, 'E': 1, 'F': 1}","{'INDETERMINE': 4, 'AGGLOMERE - BRIQUES': 1, '...","{'INDETERMINE': 4, 'TUILES': 3}",7
90,94,1.800000,2.0,1,2,1969.600000,1970.0,1925.0,2016.0,1.000000,1.0,5,1,1,0.200000,{'Résidentiel individuel': 5},"{'G': 1, 'D': 1, 'A': 1}","{'BRIQUES - PIERRE': 1, 'MEULIERE': 1, 'BETON'...","{'TUILES': 3, 'TUILES - ZINC ALUMINIUM': 1, 'B...",5
91,95,2.000000,2.0,1,3,1955.666667,1983.5,1874.0,2005.0,1.000000,1.0,6,1,1,0.333333,{'Résidentiel individuel': 6},"{'F': 2, 'D': 2, 'B': 1, 'E': 1}","{'AUTRES': 3, 'INDETERMINE': 1, 'MEULIERE': 1,...","{'TUILES': 4, 'INDETERMINE': 1, 'ARDOISES': 1}",6

In [30]:
def ligne_en_texte_naturel(row):
    
    commune = row.get('code_commune_insee', 'inconnue')
    region = row.get('code_departement_insee', '')
    contexte = f"la commune {commune}" if commune != 'inconnue' else f"la région  {region}"
    
    nb_bat = row.get('nb_count', 0)
    
    texte = f"Statistiques des bâtiments dans {contexte} : "

    texte += f"Les bâtiments ont en moyenne {int(row['nb_niveau_mean'])} niveaux (médiane: {int(row['nb_niveau_median'])}, sur un total de {nb_bat} bâtiments analysés). "
    texte += f"Le nombre d'étages varie de {int(row['nb_niveau_min'])} à {int(row['nb_niveau_max'])}. "
    texte += f"L'année de construction moyenne est {int(row['annee_construction_mean'])} (médiane: {int(row['annee_construction_median'])}), "
    texte += f"avec des bâtiments construits entre {int(row['annee_construction_min'])} et {int(row['annee_construction_max'])}. "

    texte += f"Ces bâtiments comprennent en moyenne {int(row['nb_log_mean'])} logements (médiane: {int(row['nb_log_median'])}). "
    texte += f"Au total, {contexte} compte {int(row['nb_log_sum'])} logements répartis dans {nb_bat} bâtiments, "
    texte += f"avec un minimum de {int(row['nb_log_min'])} et un maximum de {int(row['nb_log_max'])} logements par bâtiment. "

    pourcentage_passoires = row['est_passoire_thermique_mean'] * 100
    texte += f"{pourcentage_passoires:.1f}% des bâtiments sont des passoires thermiques (DPE F ou G). "

    # Catégories
    def format_dict_col(d, label):
        if isinstance(d, dict) and len(d) > 0:
            total = sum(d.values())
            parts = [f"{k} ({(v/total)*100:.1f}%)" for k, v in d.items()]
            return f"{label}: " + ", ".join(parts) + ". "
        return ""

    texte += format_dict_col(row.get('usage_principal_bdnb_open_<lambda>', {}), "Les principaux usages des bâtiments sont")
    texte += format_dict_col(row.get('classe_dpe_simple_<lambda>', {}), "Répartition des classes DPE")
    texte += format_dict_col(row.get('mat_mur_txt_<lambda>', {}), "Principaux matériaux de murs")
    texte += format_dict_col(row.get('mat_toit_txt_<lambda>', {}), "Principaux matériaux de toiture")

    return texte.strip()

In [31]:
stats_by_commune_text = pd.DataFrame({
    'code_commune_insee' :stats_by_commune['code_commune_insee'],
    'stat' : stats_by_commune.apply(ligne_en_texte_naturel,axis=1)}) 

stats_by_commune_text

    code_commune_insee                                               stat
0                 1004  Statistiques des bâtiments dans la commune 100...
1                 1025  Statistiques des bâtiments dans la commune 102...
2                 1053  Statistiques des bâtiments dans la commune 105...
3                 1138  Statistiques des bâtiments dans la commune 113...
4                 1139  Statistiques des bâtiments dans la commune 113...
..                 ...                                                ...
432              30011  Statistiques des bâtiments dans la commune 300...
433              30060  Statistiques des bâtiments dans la commune 300...
434              30189  Statistiques des bâtiments dans la commune 301...
435              30312  Statistiques des bâtiments dans la commune 303...
436              30334  Statistiques des bâtiments dans la commune 303...

[437 rows x 2 columns]

In [32]:
stats_by_departement_text = pd.DataFrame({
    'code_departement_insee' :stats_by_departement['code_departement_insee'],
    'stat' : stats_by_departement.apply(ligne_en_texte_naturel,axis=1)}) 

stats_by_departement_text

   code_departement_insee                                               stat
0                      01  Statistiques des bâtiments dans la région  01 ...
1                      02  Statistiques des bâtiments dans la région  02 ...
2                      03  Statistiques des bâtiments dans la région  03 ...
3                      04  Statistiques des bâtiments dans la région  04 ...
4                      05  Statistiques des bâtiments dans la région  05 ...
..                    ...                                                ...
87                     91  Statistiques des bâtiments dans la région  91 ...
88                     92  Statistiques des bâtiments dans la région  92 ...
89                     93  Statistiques des bâtiments dans la région  93 ...
90                     94  Statistiques des bâtiments dans la région  94 ...
91                     95  Statistiques des bâtiments dans la région  95 ...

[92 rows x 2 columns]

**usage_principal_bdnb_open, classe_dpe_simple, etage (niveau)**

In [33]:

def calculate_comprehensive_stats_usage_classe(df, group_columns):
    """ calcul les stats groupees pour differentes colonnes """


    df = df.copy()        
    df['classe_dpe_simple'] = df['classe dpe (diagnostique de performance energetique)'].str.extract(r'Classe ([A-G])')
    df['est_passoire_thermique'] = df['classe_dpe_simple'].isin(['F', 'G'])

    if group_columns[0] != 'nb_niveau':
        col = 'nb_niveau', ['mean', 'median', 'min', 'max']
    else: 
        col = group_columns[0], lambda x: x.value_counts().to_dict()

    agg_dict = {
        # Statistiques descriptives de base
        'annee_construction': ['mean', 'median', 'min', 'max'],
        'nb_log': ['mean', 'median', 'count', 'sum', 'min', 'max'],
        col[0]:col[1],
        
        # Distributions pour les variables catégorielles
        'code_commune_insee': lambda x: x.value_counts().to_dict(),
        'code_departement_insee': lambda x: x.value_counts().to_dict(),
        'mat_mur_txt': lambda x: x.value_counts().to_dict(),
        'mat_toit_txt': lambda x: x.value_counts().to_dict()
    }

    stats = df.groupby(group_columns).agg(agg_dict).reset_index()
    
    stats.columns = ['_'.join(col).strip('_') if isinstance(col, tuple) else col for col in stats.columns.values]

    count_df = df.groupby(group_columns).size().reset_index(name='nb_count')
    stats = stats.merge(count_df, on=group_columns)
    
    return stats

In [34]:
stats_by_usage = calculate_comprehensive_stats_usage_classe(df_merged, ['usage_principal_bdnb_open'])
stats_by_usage

,usage_principal_bdnb_open,annee_construction_mean,annee_construction_median,annee_construction_min,annee_construction_max,nb_log_mean,nb_log_median,nb_log_count,nb_log_sum,nb_log_min,nb_log_max,nb_niveau_mean,nb_niveau_median,nb_niveau_min,nb_niveau_max,code_commune_insee_<lambda>,code_departement_insee_<lambda>,mat_mur_txt_<lambda>,mat_toit_txt_<lambda>,nb_count
0,Résidentiel collectif,1938.011236,1967.0,1700.0,2022.0,12.067416,5.0,89,1074,2,88,3.584270,3.0,1,10,"{6088: 4, 45234: 3, 35288: 3, '30189': 2, 6311...","{'35': 6, '06': 6, '69': 5, '93': 5, '92': 4, ...","{'INDETERMINE': 35, 'PIERRE': 15, 'BETON': 9, ...","{'INDETERMINE': 38, 'TUILES': 26, 'ARDOISES': ...",89
1,Résidentiel individuel,1938.250000,1961.0,1700.0,2022.0,1.460938,1.0,384,561,1,28,1.744792,2.0,1,5,"{44109: 3, 10333: 2, 33063: 2, 63113: 2, 59378...","{'59': 22, '77': 13, '60': 12, '62': 12, '44':...","{'PIERRE': 78, 'BRIQUES': 76, 'AGGLOMERE': 53,...","{'TUILES': 261, 'ARDOISES': 73, 'INDETERMINE':...",384
2,Tertiaire,1968.000000,1969.0,1900.0,2010.0,18.400000,6.0,5,92,1,68,2.600000,2.0,1,5,"{59092: 1, 68150: 1, 62041: 1, 31022: 1, 35238...","{'59': 1, '68': 1, '62': 1, '31': 1, '35': 1}","{'BRIQUES - MEULIERE': 1, 'BETON - BRIQUES': 1...","{'INDETERMINE': 2, 'TUILES': 1, 'BETON': 1, 'A...",5

In [35]:
stats_by_classe_dpe = calculate_comprehensive_stats_usage_classe(df_merged, ['classe_dpe_simple'])
stats_by_classe_dpe

,classe_dpe_simple,annee_construction_mean,annee_construction_median,annee_construction_min,annee_construction_max,nb_log_mean,nb_log_median,nb_log_count,nb_log_sum,nb_log_min,nb_log_max,nb_niveau_mean,nb_niveau_median,nb_niveau_min,nb_niveau_max,code_commune_insee_<lambda>,code_departement_insee_<lambda>,mat_mur_txt_<lambda>,mat_toit_txt_<lambda>,nb_count
0,A,1933.818182,1985.0,1700.0,2022.0,2.454545,1.0,11,27,1,12,2.000000,2.0,1,4,"{40281: 1, 63103: 1, 62897: 1, 76263: 1, '2923...","{'40': 1, '63': 1, '62': 1, '76': 1, '29': 1, ...","{'BRIQUES': 3, 'PIERRE': 1, 'BOIS - BRIQUES': ...","{'TUILES': 5, 'ARDOISES': 2, 'TUILES - AUTRES'...",11
1,B,1985.095238,2010.0,1800.0,2019.0,7.714286,1.0,21,162,1,70,2.380952,2.0,1,8,"{6026: 1, 70395: 1, 34344: 1, 95409: 1, 35178:...","{'35': 2, '30': 2, '06': 1, '34': 1, '70': 1, ...","{'BRIQUES': 7, 'INDETERMINE': 5, 'AGGLOMERE': ...","{'TUILES': 10, 'INDETERMINE': 6, 'ARDOISES': 2...",21
2,C,1956.871287,1977.0,1750.0,2021.0,6.346535,1.0,101,641,1,68,2.445545,2.0,1,8,"{6088: 3, 59378: 2, 63113: 2, 59183: 1, 33281:...","{'59': 8, '06': 6, '77': 5, '33': 4, '62': 4, ...","{'INDETERMINE': 17, 'BRIQUES': 15, 'PIERRE': 1...","{'TUILES': 62, 'INDETERMINE': 19, 'ARDOISES': ...",101
3,D,1946.872180,1972.0,1700.0,2022.0,3.812030,1.0,133,507,1,88,2.060150,2.0,1,10,"{44109: 2, 69112: 2, 56243: 1, 38034: 1, 83146...","{'56': 5, '44': 5, '69': 5, '59': 5, '77': 5, ...","{'PIERRE': 25, 'BRIQUES': 20, 'AGGLOMERE': 16,...","{'TUILES': 84, 'ARDOISES': 22, 'INDETERMINE': ...",133
4,E,1932.846154,1959.0,1700.0,2019.0,2.034188,1.0,117,238,1,28,1.888889,2.0,1,9,"{45234: 2, 44009: 2, 35288: 2, 10333: 2, 59183...","{'64': 6, '35': 5, '59': 5, '78': 5, '44': 4, ...","{'PIERRE': 19, 'AGGLOMERE': 18, 'BRIQUES': 16,...","{'TUILES': 73, 'ARDOISES': 24, 'INDETERMINE': ...",117
5,F,1924.875000,1942.0,1700.0,2019.0,1.625000,1.0,40,65,1,12,1.975000,2.0,1,7,"{59599: 1, 73157: 1, 83150: 1, 62362: 1, 44224...","{'62': 3, '73': 2, '59': 2, '83': 2, '95': 2, ...","{'PIERRE': 12, 'BRIQUES': 5, 'AUTRES': 4, 'AGG...","{'TUILES': 23, 'AUTRES': 5, 'ARDOISES': 5, 'BE...",40
6,G,1884.190476,1912.0,1700.0,1968.0,1.285714,1.0,21,27,1,4,1.952381,2.0,1,4,"{89418: 1, 47323: 1, 94079: 1, 77490: 1, 57631...","{'60': 3, '27': 2, '47': 1, '89': 1, '57': 1, ...","{'PIERRE': 10, 'BRIQUES': 3, 'MEULIERE': 2, 'B...","{'TUILES': 12, 'ARDOISES': 8, 'TUILES - AUTRES...",21

In [ ]:
stats_by_classe_nb_niveau = calculate_comprehensive_stats_usage_classe(df_merged, ['nb_niveau'])
stats_by_classe_nb_niveau

,nb_niveau,annee_construction_mean,annee_construction_median,annee_construction_min,annee_construction_max,nb_log_mean,nb_log_median,nb_log_count,nb_log_sum,nb_log_min,nb_log_max,nb_niveau_<lambda>,code_commune_insee_<lambda>,code_departement_insee_<lambda>,mat_mur_txt_<lambda>,mat_toit_txt_<lambda>,nb_count
0,1,1946.023077,1970.5,1700.0,2022.0,1.330769,1.0,130,173,1,23,{1: 130},"{47323: 2, 49099: 2, 6026: 1, 40281: 1, 88271:...","{'40': 5, '72': 5, '33': 5, '77': 4, '44': 4, ...","{'BRIQUES': 25, 'AGGLOMERE': 21, 'PIERRE': 21,...","{'TUILES': 86, 'ARDOISES': 17, 'INDETERMINE': ...",130
1,2,1938.882353,1959.0,1700.0,2022.0,1.662745,1.0,255,424,1,28,{2: 255},"{44109: 3, 45028: 2, 33063: 2, 31044: 2, 36044...","{'59': 13, '60': 10, '62': 10, '77': 9, '56': ...","{'PIERRE': 53, 'BRIQUES': 45, 'AGGLOMERE': 32,...","{'TUILES': 165, 'ARDOISES': 52, 'INDETERMINE':...",255
2,3,1925.610169,1920.0,1700.0,2021.0,6.711864,3.0,59,396,1,55,{3: 59},"{59378: 2, 45234: 2, 59512: 2, 67267: 1, 63113...","{'59': 7, '78': 4, '29': 3, '63': 2, '69': 2, ...","{'PIERRE': 12, 'INDETERMINE': 11, 'BRIQUES': 9...","{'TUILES': 29, 'INDETERMINE': 11, 'ARDOISES': ...",59
3,4,1927.533333,1966.0,1800.0,2018.0,7.533333,6.0,15,113,3,26,{4: 15},"{92062: 1, 69385: 1, 53096: 1, 56260: 1, 35238...","{'92': 2, '35': 2, '69': 1, '53': 1, '56': 1, ...","{'INDETERMINE': 5, 'PIERRE': 4, 'BETON': 2, 'A...","{'INDETERMINE': 6, 'ARDOISES': 4, 'TUILES': 2,...",15
4,5,1949.750000,1992.0,1800.0,2015.0,33.750000,33.0,4,135,1,68,{5: 4},"{83146: 1, 84138: 1, 77055: 1, 35238: 1}","{'83': 1, '84': 1, '77': 1, '35': 1}","{'INDETERMINE': 2, 'PIERRE': 1, 'BETON': 1}","{'INDETERMINE': 2, 'TUILES': 1, 'BETON': 1}",4
5,6,1887.571429,1898.0,1700.0,2014.0,14.142857,9.0,7,99,5,33,{6: 7},"{6088: 2, 35238: 1, 93010: 1, 75104: 1, 69382:...","{'69': 2, '06': 2, '35': 1, '75': 1, '93': 1}","{'PIERRE': 2, 'MEULIERE': 2, 'INDETERMINE': 1,...","{'TUILES': 4, 'ARDOISES': 1, 'INDETERMINE': 1,...",7
6,7,1951.500000,1971.0,1850.0,2014.0,37.500000,37.0,4,150,12,64,{7: 4},"{73157: 1, 6027: 1, 75102: 1, 6088: 1}","{'06': 2, '73': 1, '75': 1}","{'INDETERMINE': 2, 'BETON': 1, 'AGGLOMERE - BE...","{'INDETERMINE': 3, 'AUTRES': 1}",4
7,8,1968.000000,1968.0,1925.0,2011.0,65.000000,65.0,2,130,60,70,{8: 2},"{69389: 1, 75117: 1}","{'69': 1, '75': 1}","{'INDETERMINE': 1, 'BETON': 1}","{'INDETERMINE': 1, 'AUTRES': 1}",2
8,9,1972.000000,1972.0,1972.0,1972.0,19.000000,19.0,1,19,19,19,{9: 1},{85194: 1},{'85': 1},{'AGGLOMERE - BETON': 1},{'TUILES': 1},1
9,10,1963.000000,1963.0,1963.0,1963.0,88.000000,88.0,1,88,88,88,{10: 1},{93031: 1},{'93': 1},{'INDETERMINE': 1},{'INDETERMINE': 1},1

In [37]:
def ligne_en_texte_par_groupe(row, group_type):
    """Génère une ligne de texte naturel adaptée au groupement (niveau, DPE, usage)"""

    try:
        groupe_valeur = row[group_type]
        if isinstance(groupe_valeur, (pd.Series, dict)):
            groupe_valeur = list(groupe_valeur.values())[0] if isinstance(groupe_valeur, dict) else groupe_valeur.iloc[0]
        groupe_valeur = str(groupe_valeur).strip()
    except Exception:
        groupe_valeur = "inconnu"

    nb_bat = row.get('nb_count', 0)

    if group_type == 'nb_niveau':
        contexte = f"les bâtiments ayant {groupe_valeur} étage(s)"
    elif group_type == 'classe_dpe_simple':
        contexte = f"les bâtiments classés {groupe_valeur} au DPE"
    elif group_type == 'usage_principal_bdnb_open':
        contexte = f"les bâtiments de type {groupe_valeur.lower()}"
    else:
        contexte = f"le groupe {groupe_valeur}"

    texte = f"Statistiques pour {contexte} : "

    if group_type != 'nb_niveau':
        texte += f"En moyenne, ces bâtiments ont {int(row.get('nb_niveau_mean', 0))} niveaux (médiane: {int(row.get('nb_niveau_median', 0))}), "
        texte += f"avec un minimum de {int(row.get('nb_niveau_min', 0))} et un maximum de {int(row.get('nb_niveau_max', 0))} niveaux. "

    if group_type != 'annee_construction':
        texte += f"L'année de construction moyenne est {int(row.get('annee_construction_mean', 0))} (médiane: {int(row.get('annee_construction_median', 0))}), "
        texte += f"avec des bâtiments construits entre {int(row.get('annee_construction_min', 0))} et {int(row.get('annee_construction_max', 0))}. "

    if group_type != 'nb_log':
        texte += f"Ces bâtiments ont en moyenne {int(row.get('nb_log_mean', 0))} logements (médiane: {int(row.get('nb_log_median', 0))}). "
        texte += f"Au total, ils représentent {int(row.get('nb_log_sum', 0))} logements répartis dans {nb_bat} bâtiments, "
        texte += f"avec un minimum de {int(row.get('nb_log_min', 0))} et un maximum de {int(row.get('nb_log_max', 0))} logements par bâtiment. "

    if group_type != 'classe_dpe_simple':
        pourcentage_passoires = row.get('est_passoire_thermique_mean', 0) * 100
        texte += f"{pourcentage_passoires:.1f}% de ces bâtiments sont des passoires thermiques (DPE F ou G). "

    
    def format_dict_col(d, label, skip=False):
        if skip:
            return ""
        if isinstance(d, dict) and len(d) > 0:
            total = sum(d.values())
            parts = [f"{k} ({(v/total)*100:.1f}%)" for k, v in d.items()]
            return f"{label}: " + ", ".join(parts) + ". "
        return ""

    texte += format_dict_col(row.get('usage_principal_bdnb_open_<lambda>', {}), "Usages principaux", group_type == 'usage_principal_bdnb_open')
    texte += format_dict_col(row.get('classe_dpe_simple_<lambda>', {}), "Répartition des classes DPE", group_type == 'classe_dpe_simple')
    texte += format_dict_col(row.get('mat_mur_txt_<lambda>', {}), "Matériaux de murs")
    texte += format_dict_col(row.get('mat_toit_txt_<lambda>', {}), "Matériaux de toiture")

    return texte.strip()

In [38]:
usage_principal_bdnb_open_text = pd.DataFrame({
    'usage_principal_bdnb_open' :stats_by_usage['usage_principal_bdnb_open'],
    'stat' : stats_by_usage.apply(lambda row: ligne_en_texte_par_groupe(row,'usage_principal_bdnb_open') ,axis=1)}) 

usage_principal_bdnb_open_text

  usage_principal_bdnb_open                                               stat
0     Résidentiel collectif  Statistiques pour les bâtiments de type réside...
1    Résidentiel individuel  Statistiques pour les bâtiments de type réside...
2                 Tertiaire  Statistiques pour les bâtiments de type tertia...

In [39]:
stats_by_classe_dpe_text = pd.DataFrame({
    'classe_dpe_simple' :stats_by_classe_dpe['classe_dpe_simple'],
    'stat' : stats_by_classe_dpe.apply(lambda row: ligne_en_texte_par_groupe(row,'classe_dpe_simple') ,axis=1)}) 

stats_by_classe_dpe_text

  classe_dpe_simple                                               stat
0                 A  Statistiques pour les bâtiments classés A au D...
1                 B  Statistiques pour les bâtiments classés B au D...
2                 C  Statistiques pour les bâtiments classés C au D...
3                 D  Statistiques pour les bâtiments classés D au D...
4                 E  Statistiques pour les bâtiments classés E au D...
5                 F  Statistiques pour les bâtiments classés F au D...
6                 G  Statistiques pour les bâtiments classés G au D...

In [40]:
stats_by_classe_nb_niveau_text = pd.DataFrame({
    'nb_niveau' :stats_by_classe_nb_niveau['nb_niveau'],
    'stat' : stats_by_classe_nb_niveau.apply(lambda row: ligne_en_texte_par_groupe(row,'nb_niveau') ,axis=1)}) 

stats_by_classe_nb_niveau_text

   nb_niveau                                               stat
0          1  Statistiques pour les bâtiments ayant 1 étage(...
1          2  Statistiques pour les bâtiments ayant 2 étage(...
2          3  Statistiques pour les bâtiments ayant 3 étage(...
3          4  Statistiques pour les bâtiments ayant 4 étage(...
4          5  Statistiques pour les bâtiments ayant 5 étage(...
5          6  Statistiques pour les bâtiments ayant 6 étage(...
6          7  Statistiques pour les bâtiments ayant 7 étage(...
7          8  Statistiques pour les bâtiments ayant 8 étage(...
8          9  Statistiques pour les bâtiments ayant 9 étage(...
9         10  Statistiques pour les bâtiments ayant 10 étage...

In [41]:
stats_by_classe_dpe_text.iloc[0]['stat']

"Statistiques pour les bâtiments classés A au DPE : En moyenne, ces bâtiments ont 2 niveaux (médiane: 2), avec un minimum de 1 et un maximum de 4 niveaux. L'année de construction moyenne est 1933 (médiane: 1985), avec des bâtiments construits entre 1700 et 2022. Ces bâtiments ont en moyenne 2 logements (médiane: 1). Au total, ils représentent 27 logements répartis dans 11 bâtiments, avec un minimum de 1 et un maximum de 12 logements par bâtiment. Matériaux de murs: BRIQUES (27.3%), PIERRE (9.1%), BOIS - BRIQUES (9.1%), MEULIERE (9.1%), MEULIERE - PIERRE (9.1%), BETON - BOIS (9.1%), AGGLOMERE (9.1%), INDETERMINE (9.1%), BETON (9.1%). Matériaux de toiture: TUILES (45.5%), ARDOISES (18.2%), TUILES - AUTRES (9.1%), ZINC ALUMINIUM (9.1%), INDETERMINE (9.1%), TUILES - ZINC ALUMINIUM (9.1%)."

ameloiration possible:
- rajouter des stats coombinees